@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
		   url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
		   url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
       url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
		   url('../fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: #222222;
  --color-black-light: #333333;
  --color-black-lighter: #414141;
  --color-grey: #666666;
  --color-grey-light: #7C7C7C;
  --color-grey-lighter: #CACACA;
  --color-grey-easy: #E5E5E5;
  --color-grey-ultra: #ECECEC;
  --color-yelow: #FF9900;
  --color-yelow-dark: #E1670E;
  --color-green: #97EE3F;
  --font-size-subtitles: 48px;
  --line-height-subtitles:58.51px;
  --font-weight: 400;
  --font-size-paragraph: 16px;
  --line-height-paragraph-mini: 19.5px;
  --line-height-paragraph: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body, .container {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat' ,sans-serif;
}

header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

section:not(:last-child) {
  margin-bottom: 100px;
}

.container {
  margin: 0 auto;
  padding: 0 10px ;
  max-width: 1790px;
}

h2 {
  margin-bottom: 21px;
  padding-left: 2px;
  font-weight: 400;
  font-size: var(--font-size-subtitles);
  line-height: var(--line-height-subtitles);
  color: var(--color-black-light);
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

input,
textarea {
  color: var(--color-white);
  outline: none;
}

picture {
  display: none;
}

img {
  max-height: 100%;
}

/* hover focus active */

.footer-nav__list a:hover,
.section-how-we-work__list button:hover {
  color: var(--color-yelow);
  transition: color .2s ease;
}

.header__list-child a:focus,
.footer-nav__list a:focus,
.section-how-we-work__list button:focus {
  outline: 2px solid var(--color-yelow);
}

.footer-nav__list a:active,
.section-how-we-work__list button:active {
  color: var(--color-yelow-dark);
  outline: none;
  transition: color .1s ease;
}

.header__list-child a {
  transition: border .1s ease;
}

.header__list-child a:hover {
  border-bottom: 2px solid var(--color-yelow);
  transition: border .1s ease;
}

.header__list-child a:active {
  color: var(--color-yelow-dark);
  border-bottom: 2px solid var(--color-yelow-dark);
  outline: none;
  transition: border, color .1s ease;
}

.header__btn:active .btn-header-svg {
  outline: none;
}

.header__btn-burger:focus  {
  outline: 2px solid var(--color-yelow);
}

.header__btn-burger:active {
  outline: none;
}

.btn-header.is-active
.btn-burger-line-two {
  transition-property: transform, border-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  transform: rotate(45deg) translate(1px, 3px);
  border-color: var(--color-yelow-dark);
}

.btn-header.is-active
.btn-burger-line-third {
  transition-property: transform, border-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  transform: rotate(-45deg) translate(3px, 1px);
  border-color: var(--color-yelow-dark);
}


.header__btn-burger:active .btn-burger-line-first {
  transition-property: border-color, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
  border-color: var(--color-yelow-dark);
}

.header__btn-burger:active .btn-burger-line-two {
  transition-property: border-color, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.header__btn-burger:active .btn-burger-line-third {
  transition-property: border-color, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.header__btn:hover svg path {
  stroke: #FF9900;
  transition-property: fill, stroke;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.header__btn:hover svg rect {
  fill: #FF9900;
  transition-property: fill, stroke;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.header__btn:focus {
  outline: 2px solid var(--color-yelow);
}

.hero-main-slider__btn:hover,
.hero-main-slider__btn:focus,
.section-how-we-work__btn-1:hover,
.section-how-we-work__btn-1:focus,
.footer-form__wrapper-btn:hover,
.footer-form__wrapper-btn:focus {
  background-color: rgba(255, 153, 0, .7);
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  outline: none;
}

.section-about__block-btn:hover,
.section-about__block-btn:focus {
  background-color: rgba(255, 153, 0, 1);
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.hero-main-slider__btn:active,
.section-how-we-work__btn-1:active,
.footer-form__wrapper-btn:active {
  background-color: rgba(255, 103, 14, 1);
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  outline: none;
}

.section-about__block-btn:active {
  background-color: rgba(255, 103, 14, 1);
  transition-property: background-color, border;
  transition-duration: .2s;
  transition-timing-function: ease;
  border: 3px solid rgba(255, 103, 14, 1);;
  outline: none;
}

.hero-main-slider__btn,
.section-how-we-work__btn-1,
.footer-form__wrapper-btn,
.section-about__block-btn {
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.section-how-we-work__btn-2:hover,
.section-how-we-work__btn-2:focus {
  background-color: var(--color-grey);
  color: var(--color-white);
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease;
  border: 1px solid var(--color-grey);
  outline: none;
}

.section-how-we-work__btn-2:active {
  background-color: var(--color-black);
  color: var(--color-white);
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease;
  border: 1px solid var(--color-black);
}

.section-how-we-work__list-btn.tabs-btn-active {
  color: var(--color-yelow-dark);
  transition: color .2s ease;
}

.section-questions-wrapper li:hover,
.section-questions-wrapper li:focus  {
  border-color: var(--color-yelow);
  transition: border .2s ease;
}

.section-questions-wrapper li:hover:last-of-type,
.section-questions-wrapper li:focus:last-of-type  {
  border-bottom: 1px solid var(--color-yelow);
  transition: border-color .2s ease;
}

.section-questions-wrapper li:hover+li,
.section-questions-wrapper li:focus+li  {
  border-top: 1px solid var(--color-yelow);
  transition: border-color .2s ease;
}

.section-questions-wrapper li:hover h3,
.section-questions-wrapper li:hover span,
.section-questions-wrapper li:focus h3,
.section-questions-wrapper li:focus .accordion-subtitle>span,
.section-questions-wrapper li:focus {
  color: var(--color-yelow);
  outline: none;
  transition: color .2s ease;
}

.section-questions-wrapper li:hover .section-questions-wrapper__text-content p,
.section-questions-wrapper li:focus .section-questions-wrapper__text-content p {
 color: var(--color-black-light);
}

.section-questions-wrapper li:hover .accordion-img,
.section-questions-wrapper li:focus .accordion-img {
  background-color: #FF9900;
  transition-property: background-color, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.section-questions-wrapper li:hover .accordion-img::before,
.section-questions-wrapper li:hover .accordion-img::after,
.section-questions-wrapper li:focus .accordion-img::before,
.section-questions-wrapper li:focus .accordion-img::after {
  border-color: var(--color-white);
  transition-property: border-color, transform;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.ui-state-active .accordion-img::before {
  transition: transform .2s ease;
  transform: translate(9px, -3px) rotate(-45deg);
}

.ui-state-active .accordion-img::after {
  transition: transform .2s ease;
  transform: translate(-3px, -7px) rotate(-45deg);
}

.footer-nav__list-social-networks li:hover svg path {
  fill: #FF9900;
  transition: fill .2s ease;
}

.footer-nav__list-social-networks a:focus {
  outline: 2px solid var(--color-yelow);
}

.footer-nav__list-social-networks a:active {
  outline: none;
}

.footer-nav__list-social-networks a:active svg path {
  fill: #E1670E;
  outline: none;
  transition: fill .2s ease;
}

.footer-form__child:hover,
.footer-form__child:focus,
.footer-form__child:active {
  background-color: var(--color-grey);
  transition: background-color .2s ease;
}

/* header */

.header {
  padding: 14px 0;
  background-color: var(--color-white);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger-list {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform .3s ease;
  transform: translateX(-101%);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 91%;
}

.header__container-list {
  display: flex;
  padding-top: 6px;
}

.header__logo-link {
  position: relative;
  top: 4px;
}

.header__nav-search-wrapper {
  display: flex;
  justify-content: space-between;
  width: 46.1%;
}

.header__list {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  width: 95.7%;
}

.header__list a,
.header__burger-list a {
  color: var(--color-black-light);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: .4px;
}

.header__btn {
  padding-top: 5px;
}

.header__btn svg path, rect {
  transition-property: fill, stroke;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.header__btn-burger {
  display: none;
  overflow: hidden;
  width: 30px;
  height: 23px;
}

.header__btn-burger span:not(:last-child) {
  padding-bottom: 7px;
}

.btn-burger-line-first,
.btn-burger-line-two,
.btn-burger-line-four {
  display: block;
  border-top: 3px solid var(--color-black-light);
}

.btn-burger-line-first,
.btn-burger-line-two,
.btn-burger-line-third,
.btn-burger-line-four {
  transition-property: transform, border-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.btn-header.is-active .btn-burger-line-first {
  display: none;
}

.btn-header.is-active .btn-burger-line-four {
  display: none;
}

.btn-burger-line-third {
  position: absolute;
  top: 44%;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid var(--color-black-light);
}

/* swiper */

.ui-icon {
  display: none;
}

.swiper {
  position: absolute;
  content: '';
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}

.swiper-slide-first,
.swiper-slide-second,
.swiper-slide-third {
  filter: brightness(83%) contrast(1.3);
}

.swiper-slide-first {
  background-image: url('../img/house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide-second {
  background-image: url('../img/bridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide-third {
  background-image: url('../img/apartment-architecture-building.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 27px;
  left: 8px;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.swiper-pagination-bullet-active  {
  background-color: #ffffff;
}

/* design solutions */

.hero-main-slider__design-solutions {
  position: relative;
  padding: 100px 0 100px 80px;
}

.hero-main-slider__design-solutions p, h1, button {
  opacity: 99%;
}

.hero-main-slider__design-solutions::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.31) 100%);
}

.hero-main-slider__title {
  position: relative;
  z-index: 2;
  margin: 0 0 23px 0;
  padding: 2px 0 0 1px;
  width: 53%;
  font-size: 70px;
  font-weight: 800;
  line-height: 85.33px;
  color: var(--color-white);
}

.hero-main-slider__text {
  position: relative;
  z-index: 2;
  margin: 0 0 90px 0;
  padding-left: 1px;
  width: 48%;
  font-size: 24px;
  line-height: 28.26px;
  font-weight: 700;
  color: var(--color-white);
}

.hero-main-slider__btn {
  position: relative;
  z-index: 2;
  padding: 26.83px 38.88px 25.83px 37.88px;
  font-size: 23.46px;
  line-height: 27.26px;
  font-weight: 700;
  background-color: var(--color-yelow);
  color: var(--color-white);
}

.section-about__information {
  margin-bottom: 50px;
  padding-left: 1px;
  width: 69.7740112994%;;
  font-weight: 400;
  color: var(--color-black-light);
  font-size: var(--font-size-paragraph);
  line-height:var(--line-height-paragraph);
}

.section-about__center-content {
  display: flex;
  justify-content: space-between;
}

.section-about__block-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 426px;
  width: 49%;
  background-image: url('../img/worker.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-about__block-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%,
                                      rgba(0, 0, 0, 0.31) 100%);
}

.section-about__img {
  display: none;
}

.section-about__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-about__block-txt {
  padding-left: 1px;
  width: 56.9%;
  color:var(--color-white);
  font-size:var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  font-weight: 700;
  opacity: 90%;
}

.section-about__block-btn {
  padding: 18px 33px 18px 35px;
  border: 3px solid var(--color-yelow);
  font-size: var(--font-size-paragraph);
  color: var(--color-white);
  line-height: var(--line-height-paragraph-mini);
  font-weight: 700;
  opacity: 90%;
}

.section-about__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 49%;
}

.group__block {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 61px 99px 61px 297px;
  min-height: 295px;
  border: 1px solid var(--color-grey-lighter);
  color: var(--color-black-light);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  line-height: var(--line-height-paragraph);
}

.group__block h3 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
}

.group__block-one {
  background: url('../img/svg/square.svg');
  background-repeat: no-repeat;
  background-position: 60px center;
}

.group__block-two {
  background: url('../img/svg/gear.svg');
  background-repeat: no-repeat;
  background-position:  60px center;
}

.group__block:not(:last-child) {
  margin-bottom: 32px;
}

/* how we work */

.tab-content {
 display: none;
}

.tab-content-active {
  display: block;
}

.section-how-we-work__content-step-1,
.section-how-we-work__content-step-2,
.section-how-we-work__content-step-3,
.section-how-we-work__content-step-4 {
  display: flex;
  justify-content: space-between;
}

.section-how-we-work__subtitle {
  margin-bottom: 50px;
}

.section-how-we-work__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  padding-top: 1px;
  width: 26%;
}

.section-how-we-work__list li {
  font-size: 18px;
  font-weight: var(--font-weight);
  color: var(--color-black-light);
  line-height: 21.94px;
}

.section-how-we-work__text-step-1,
.section-how-we-work__text-step-2,
.section-how-we-work__text-step-3,
.section-how-we-work__text-step-4 {
  margin-bottom: 48px;
  padding-left: 1px;
  font-size: var(--font-size-paragraph);
  font-weight:var(--font-weight);
  line-height: var(--line-height-paragraph);
}

.text-wrapper__subtitle {
  padding-left: 1px;
  padding-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  line-height: 15px;
  color: var(--color-black-light);
}

.section-how-we-work__list button {
  transition: color .2s ease;
}

.section-how-we-work__text-wrapper {
  width: 43%;
}

.section-how-we-work__img-wraper-step-1 {
  width: 49%;
  background-image: url('../img/how-we-work-step-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.section-how-we-work__img-wraper-step-2 {
  width: 49%;
  background-image: url('../img/how-we-work-step-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-how-we-work__img-wraper-step-3 {
  width: 49%;
  background-image: url('../img/how-we-work-step-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-how-we-work__img-wraper-step-4 {
  width: 49%;
  background-image: url('../img/how-we-work-step-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-how-we-work__btn-1 {
  padding: 22px 38px 19px 39px;
  background-color: var(--color-yelow);
  font-size: var(--font-size-paragraph);
  color: var(--color-white);
  line-height: var(--line-height-paragraph-mini);
  font-weight: 700;
}

.section-how-we-work__btn-2 {
  padding: 21px 36px 19px 37px;
  border: 1px solid var(--color-black-light);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  color: var(--color-black-light);
  line-height: var(--line-height-paragraph-mini);
  transition-property: background-color, border, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.section-how-we-work__btn-wrapper button:not(:last-child) {
  margin-right: 33px;
}

/*section-questions*/

.section-questions-wrapper__text-content {
 font-size: 16px;
 font-weight: 400;
 line-height: 32px;
}

.section-questions-wrapper__text-content p {
  width: 56.6%;
}

.section-questions-wrapper__text-content p {
  margin-bottom: 50px;
}

.section-questions__subtitles {
  margin-bottom: 0;
  padding-left: 1px;
}

.section-questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 44px 0 0 1px;
}

.section-questions-wrapper li {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.section-questions-wrapper li {
  padding: 30px 0;
  border-top: 1px solid #CACACA ;
}

.section-questions-wrapper li:last-of-type {
  border-bottom: 1px solid #CACACA ;
}

.section-questions-wrapper__accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  transition-property: border-color, fill, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.section-questions-wrapper__accordion::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.accordion-subtitle {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: var(--line-height-paragraph);
  color: var(--color-black-light);
  transition: color .2s ease;
  cursor: pointer;
}

.accordion-img {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--color-grey-ultra);
  transition: background-color .2s ease;
  cursor: pointer;
}

.ui-state-active {
  transition: transform .2s ease;
}

.accordion-img::after {
  position: absolute;
  content: '';
  top: 9px;
  left: 25px;
  right: 0;
  bottom: 0;
  height: 30px;
  border-left: 1px solid var(--color-grey);
  transition: border-color .2s ease;
  transition: transform .2s ease;
}

.accordion-img::before {
  position: absolute;
  content: '';
  top: 24px;
  left: 11px;
  right: 0;
  bottom: 0;
  width: 30px;
  border-top: 1px solid var(--color-grey);
  transition: border-color .2s ease;
  transition: transform .2s ease;
}

.accordion-subtitle>span {
  color: var(--color-grey-lighter);
  transition: border-color, fill, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.accordion-subtitle>span,
.accordion-img svg ellipse {
  transition-property: color, fill;
  transition-duration: .2s;
  transition-timing-function: ease;
}

/* footer */

footer {
  background-color: var(--color-dark);
}

.footer-container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 49px 10px;
}

.footer-nav-wrapper {
  min-width: 22%;
}

.footer-nav {
  width: 100%;
}

.footer-nav img {
  margin-bottom: 16px;
}

.footer-nav__list {
  margin-bottom: 89px;
}

.footer-nav__list a {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-grey-lighter);
  transition: color .2s ease;
}

.footer-nav__list-social-networks {
  display: flex;
  width: 59.1%;
}

.footer-nav__list-social-networks li:not(:last-child) {
  margin-right: 25px;
}

.footer-nav__list-social-networks li {
  transition: fill .2s ease;
}

.footer-wrapper-form {
  min-width: 32.7%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 83%;
}

.footer-form__wrapper-input-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
  height: 77%;
}

.footer-form__child::placeholder {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  line-height: var(--line-height-paragraph);
  color: var(--color-grey-lighter);
}

.footer-form__child {
  border: 1px;
  background-color: var(--color-black-lighter);
  transition: background-color .2s ease;
}

.input-data-text {
  flex: 0 0 19%;
  padding: 5px 25px 3px 22px;
}

.input-data-email {
  flex: 0 0 19%;
  padding: 7px 25px 4px 22px;
}

.footer-form__message {
  flex: 0 0 46.92%;
  padding: 16px 25px 25px 22px;
  resize: none;
}

.footer-form__message::placeholder {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  line-height: var(--line-height-paragraph);
  color: var(--color-grey-lighter);
}

.footer-wrapper-form__subtitle {
  display: block;
  margin-bottom: 26px;
  padding-left: 0;
  font-size: var(--font-size-subtitles);
  font-weight: var(--font-weight);
  line-height: var(--line-height-subtitles);
  color: var(--color-grey-lighter);
}

.footer-form__wpapper-btn-chbox {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked) {
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 21px;
  bottom: 0;
  right: 0;
  top: 11px;
  width: 12px;
  height: 13px;
  border: 1px solid var(--color-grey-lighter);
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
}

.input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  left: 24px;
  top: 14px;
  width: 7px;
  height: 3px;
  border-radius: 1px;
  border-left: 2px solid var(--color-green);
  border-bottom: 2px solid var(--color-green);
  transform: rotate(-45deg);
}

.footer-form__wpapper-btn-chbox label {
  padding: 3px 0 0 39px;
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  line-height: var(--line-height-paragraph);
  color: var(--color-grey-lighter);
}


.footer-form__wrapper-btn {
  padding: 21px 53px 20px 50px;
  background-color: var(--color-yelow);
  font-size: var(--font-size-paragraph);
  color: var(--color-white);
  line-height: var(--line-height-paragraph-mini);
  font-weight: 700;
}

.footer-container p {
  padding: 88px 8px 32px 10px;
  width: 21%;
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight);
  line-height: var(--line-height-paragraph);
  color: var(--color-grey-lighter);
}
